<h2>Account informations</h2>
<p>
  <b>Email:</b>
  <%=h @user.email %><br/>
  <b>Login count:</b>
  <%=h @user.login_count %><br/>
  <b>Last request at:</b>
  <%=h @user.last_request_at %><br/>
  <b>Last login at:</b>
  <%=h @user.last_login_at %><br/>
  <b>Current login at:</b>
  <%=h @user.current_login_at %><br/>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %><br/>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>

<p>
  <%= link_to 'Edit', edit_account_path %><br/>
  <%= link_to_remote 'Delete', :url => {:controller => "users", :action => "destroy", :id => @user.id}, :method => :delete, :confirm => "Are you sure?" %>
</p>